.list-todo-container {
    max-width: 500px;
    margin: 0 auto;
    button {
        cursor: pointer;
    }

    .add-todo {
        .add {
            margin: 0 10px;
        }
    }

    .list-todo-content {
        margin: 0 auto;

        .todo-child {
            &:first-child {
                border-top: 1px solid grey;
                margin-top: 20px;
            }

            height: 40px;
            border-bottom: 1px solid grey;
            margin: 1px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .edit {
                margin: 0 10px;
                cursor: pointer;
            }
        }

    }
}